# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages

astronomer-cosmos==1.6.0
astro-sdk-python[amazon,snowflake]
dbt-snowflake


apache-airflow-providers-amazon
apache-airflow-providers-snowflake

duckdb
httpfs